<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>CurdAppPro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SaveRecord</display-name>
    <servlet-name>SaveRecord</servlet-name>
    <servlet-class>com.curd.SaveRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveRecord</servlet-name>
    <url-pattern>/SaveRecord</url-pattern>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRecord</display-name>
    <servlet-name>ShowRecord</servlet-name>
    <servlet-class>com.curd.ShowRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRecord</servlet-name>
    <url-pattern>/ShowRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.curd.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>